  
body {
    background-color:#ffffff55;
    color: rgba(11, 12, 97, 0.835) ;
    width: 1024px;
    height: 1024px;
    font-family:Georgia, serif;
}  

h1{  
  font-size: 16px;
    font-weight: bold;

     color:orange;
} 
a{
    text-decoration: none;
}
a:hover {
        color: rgba(255, 72, 0, 0.781) ;
        font-size:16px;
    }

img {
    
    width: 90px ;
    height: 50px;
}

button{
    background-color: white;
    color: rgba(11, 12, 97, 0.835);
    border: 2px solid rgba(20, 13, 126, 0.445);
    border-radius: 10%;
}
button:hover {
    background-color: rgba(255, 72, 0, 0.781);
    color: white;
}


span{
    color:red;
}
