/* Constants declaration only */

$feature_overlay: false;

$debug_home: false;
$debug_nos_offres_folded: false;
$debug_nos_offres_unfolded: false;
$debug_notre_reseau_folded: false;
$debug_notre_reseau_unfolded: false;
$debug_contact: false;

// Official colors
$color_darkgrey: #404040;
$color_mediumgrey: #888888;
$color_lightgrey: #eeeeee;

$color_red: #c00050;
$color_red_disabled: mix($color_red, $color_lightgrey);
$color_blue: #336699;

$color_black: #000000;
$color_white: #ffffff;

$color_text_base: $color_darkgrey;
$color_text_reversed: $color_white;
$color_text_highlight: $color_blue;

$font_serif: "Merriweather", serif;
$font_sans_serif: "Roboto", sans-serif;
