// Configuration (before anything else)
@import "./config";
@import "./fonts";

// Functions
// @import "../mixins/action_button";
@import "./mixins/loader";

// External ressources
@import "./ext/bootstrap-reboot";

// Fix for smaller screens
@media screen and (max-width: 320px) {
  html#dtwg {
	  body { width: min-content; }
  }
}

// Mobile version (default)
@import "./layout/common";
@import "./components/header";
@import "./components/footer";

@import "./pages/form";

// Desktop version (override)
@media only screen and (min-width: 768px) {
	@import "./layout/common_desktop";
  @import "./components/header_desktop";
  @import "./components/footer_desktop";

	@import "./pages/form_desktop";
}


