/* Common layout for mobile pages */
// Fill rules in the same order as page elements (from top to bottom)

html#dtwg {
  body {

    h2 {
      font-size: 36px;
    }

    p {
      line-height: 35px;
      font-size: 22px;
    }

  }
}
